<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.drug.tc.mapper.ReturnDetailsMapper">
	<select id="selectAllReturnDetails" resultType="ReturnDetails"
		parameterType="Integer">
		SELECT pod.detailsId, pod.detailsName,pod.detailsQuantity,
		pod.detailsUnitPrice,pod.detailsTotalPrice,pod.returnId,
		pod.detailsPerpare1,pod.detailsPerpare2,pod.detailsPerpare3
		FROM sales_return po LEFT JOIN
		return_details pod ON po.returnId=pod.returnId
		WHERE po.returnId = #{returnId}
	</select>
	<delete id="deleteReturnDetails" parameterType="Integer">
		delete
		from
		return_details where detailsId = #{detailsId}
	</delete>

	<update id="updateReturnDetails" parameterType="ReturnDetails">
		update
		return_details set detailsName = #{detailsName},
		detailsQuantity = #{detailsQuantity},detailsUnitPrice = #{detailsUnitPrice},
		detailsTotalPrice =
		#{detailsTotalPrice},returnId = #{returnId},detailsPerpare1=#{detailsPerpare1}
		,detailsPerpare2=#{detailsPerpare2},detailsPerpare3=#{detailsPerpare3}
		where detailsId =
		#{detailsId}
	</update>
		<insert id="addReturnDetails" parameterType="ReturnDetails">
		insert into return_details values(null,#{detailsName}
		,#{detailsQuantity},#{detailsUnitPrice},#{detailsTotalPrice},#{returnId},
		#{detailsPerpare1},#{detailsPerpare2},#{detailsPerpare3})
	</insert>
</mapper>
