<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.drug.ljw.mapper.OutBoundMapper">

<select id="getAllOutBound" resultType="OutBound">
	SELECT * FROM outbound
</select>

<update id="changeOutBound" parameterType="OutBound">
	update outbound set 
	 reviewer=#{reviewer},status=#{status},outTime=#{outTime},note=#{note}
	 where outId=#{outId};
</update>
<delete id="delOutBound" parameterType="Integer">
	delete from outbound where outId=#{outId}
</delete>

<insert id="addOutBound" parameterType="OutBound">
	INSERT INTO outbound(typeGoods,goodsNumber,goodsTime) VALUES
	(#{typeGoods},#{goodsNumber},#{goodsTime})
</insert>

</mapper>
